
.idea/modules.xml
.idea/s7-02-m-javareact.iml
.idea/sonarlint/issuestore/index.pb
.idea/vcs.xml
.idea/compiler.xml
.idea/misc.xml
.idea/encodings.xml
*.xml
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/issuestore/f/9/f9590cd73598b6f2427c8b1327d922c50d1dc504
frontend/.env
